body {
    font-family: Arial, Helvetica, sans-serif;
}

/* start header */
h1 {
    font-weight: bold;
    font-size: xx-large;

    color: black;
}

h2 {
    font-weight: lighter;
    line-height: 1.6%;

    color: gray;
}

#the-booleaner {
    font-weight: bold;

    color: #4ea0ff;
}

.writing-date {
    font-weight: lighter;

    color: gray;
}

/* end header */





/* start main section */

/* start photo gallery section */
.gallery {
    margin-top: 2%;
}

.photo-description {
    font-weight: lighter;
    line-height: 0%;
}

/* end photo gallery section*/



/* start main paragraph */
.mainparagraph {
    margin-top: 10%;
}

.highlight-text {
    background-color: yellow;
}

/* end main paragraph */