body {
    font-family: Arial, Helvetica, sans-serif;
}

/* start header */

/* start navbar section  */
.banner {
    height: 30%;
    width: 100%;

    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;

}

#logo {
    width: 370px;
    height: auto;
}

/* end navbar section  */






/* start main title */
h1 {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 0;

    color: black;
}

.credits {
    margin: 0;
    font-weight: lighter;
    font-size: small;

    color: gray;
}

#the-booleaner {
    font-weight: bold;

    color: #28ace6;
    text-decoration: none;
}

.date {
    color: gray;
    font-size: 0.6em;
}

/* end main title */

/* end header */





/* start main section */

/* start photo gallery section */
.gallery {
    margin-top: 2%;
}

.photo-description {
    margin-top: 0.1em;
    text-align: left;
    font-weight: lighter;
    font-size: smaller;
}

/* end photo gallery section*/








/* start main paragraph */
.main-paragraph {
    margin-top: 50px;
}

/* end main paragraph */








/* start unordered litst */
ul {
    list-style: square;
}

.unordered-list {
    text-align: left;
    margin-top: 50px;
}

.unordered-list-padding {
    margin-left: 1em;
    text-align: left;
}


/* end unordered list */






/* start table section */

/* end table section */







/* start footer section */

h2 {
    font-size: medium;

    margin-top: 50px;
    font-weight: lighter;
    text-align: left;

    color: gray;
}

#img-monitor {
    width: 250px;
    height: 180px;
    margin-top: 10px;

    background-image: url('../img/monitor.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    color: white;
    font-size: 120%;
    font-weight: bold;
    line-height: 95%;
    text-align: left;
}

#img-graph {
    width: 250px;
    height: 180px;
    margin-top: 10px;

    background-image: url('../img/graph.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    color: white;
    font-size: 120%;
    font-weight: bold;
    line-height: 95%;
    text-align: left;
}

.article-margin-left {
    margin: 10px;
}