body {
    font-family: Arial, Helvetica, sans-serif;
}

/* start header */

/* start top banner section  */
.banner {
    height: 30%;
    width: 100%;
    background-color: #4ea0ff;

}


/* end top banner section  */

/* start main title */
h1 {
    font-weight: bold;
    font-size: xx-large;

    color: black;
}

h2 {
    font-weight: lighter;
    line-height: 1.6%;

    color: gray;
}

#the-booleaner {
    font-weight: bold;

    color: #4ea0ff;
}

.writing-date {
    font-weight: lighter;

    color: gray;
}

/* end main title */

/* end header */





/* start main section */

/* start photo gallery section */
.gallery {
    margin-top: 2%;
}

.photo-description {
    font-weight: lighter;
    line-height: 0%;
}

/* end photo gallery section*/



/* start main paragraph */
.mainparagraph {
    margin-top: 10%;
}

.highlight-text {
    background-color: yellow;
}

/* end main paragraph */




/* start table section */
.table {
    width: 100%;
    border-collapse: collapse;
}

.head-raw {
    display: inline-block;
    width: 40%;

    background-color: #20a9e5;
    color: white;
    font-weight: bold;
}

.odd-raw {
    width: 40%;

    background-color: #b1e5f2;
    color: black;
}